azul = #065580
gris_claro = #F2F2F2
blanco = rgb(254,254,254) 
celeste = rgb(14,116,175)
negro_claro = rgb(38,38,38)
.curso
	background azul
	margin-bottom 1em
	.titulo
		font-size 2em
	.contenido_curso
		.detalles
			background celeste
			width 40%
			height 100%
		.descripcion
			background blanco
			width 55%
			height 100%
		.detalles, .descripcion
			display inline-block
			vertical-align top