azul = #065580
gris_claro = #F2F2F2
blanco = rgb(254,254,254) 
celeste = rgb(14,116,175)
negro_claro = rgb(38,38,38)

.extra
  float right
  color #0f0f0f
#titulo_curso
  overflow hidden
#titulo_curso:before
  font-family "icomoon"
  content "\e91f    "

#contenido_curso
  text-align left

