azul = #065580
gris_claro = #F2F2F2
blanco = rgb(254,254,254) 
celeste = rgb(14,116,175)
negro_claro = rgb(38,38,38)
.curso
	border 2px solid black
	border-radius 1em
	margin-bottom 1em
	overflow hidden
	.titulo
		text-align center
		background azul
		color white
		font-size 2em
	.contenido_curso
		.detalles
			width 70%
			text-align justify
			height 100%
			border-right 2px solid black
		.descripcion
			width 28%
			height 100%
		.detalles, .descripcion
			display inline-block
			vertical-align top