azul = #065580
verde = #476462
blanco_opaco = #DCF2F2
celeste_claro = #B0CBD9
negro_claro = rgb(38,38,38)
@font-face {
	font-family: 'icono';
	src:url('../fonts/publicacion/icomoon.eot?-lr2x8m');
	src:url('../fonts/publicacion/icomoon.eot?#iefix-lr2x8m') format('embedded-opentype'),
		url('../fonts/publicacion/icomoon.woff?-lr2x8m') format('woff'),
		url('../fonts/publicacion/icomoon.ttf?-lr2x8m') format('truetype'),
		url('../fonts/publicacion/icomoon.svg?-lr2x8m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
section
	.principal
		background-color azul
.slider
	overflow hidden
	margin 0
	paddin 0
.publicacion
	border 1px solid negro_claro
	box-shadow 5px 5px 5px #888888
	background-color white
	padding 0.5em
	.titulo 
		border-bottom 3px solid black
		text-align justify
		h2
			margin 0
		h2:before
			font-family "icono"
			content "\e600    "
	.fecha
		color verde
		margin 0 2em
		text-align justify
		font-size 0.8em
	.fecha:before
		font-family "icono"
		content "\e94e    "
	.texto
		margin 0 2em
		font-family "Times New Roman"
		font-size 1em
		text-align justify

