azul = #065580
verde = #476462
blanco_opaco = #DCF2F2
celeste_claro = #B0CBD9
negro_claro = rgb(38,38,38)
section
	.principal
		background-color azul
.slider
	overflow hidden
	margin 0
	paddin 0
.publicacion
	border 1px solid negro_claro
	box-shadow 5px 5px 5px #888888
	background-color white
	padding 0.5em
	.titulo 
		border-bottom 3px solid black
		text-align justify
		h2
			margin 0
		h2:before
			font-family "icomoon"
			content "\e601    "
	.fecha
		color verde
		margin 0 2em
		text-align justify
		font-size 0.8em
	.fecha:before
		font-family "icomoon"
		content "\e94e    "
	.texto
		margin 0 2em
		font-size 1em
		text-align justify

